<template>
  <div id="app">
    <v-app id="inspire" dark>
      <v-layout row justify-center>
        <!-- toolbar -->
        <v-toolbar app light color="primary" height="50">
          <v-toolbar-title style="color:#282828;">Stock Sentiment Interpretation and Analysis</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-select :items="listData" v-model="selected1" :value="selected1" item-text="company_ticker"></v-select>
          <v-spacer></v-spacer>
          <v-select :items="listData2" v-model="selected2" :value="selected2" item-text="company_ticker"></v-select>
          <v-spacer></v-spacer>
          <v-btn color="#00c986"  @click="showCompare(listData[listData.findIndex(i => i.company_ticker === selected1)], listData2[listData2.findIndex(i => i.company_ticker === selected2)])">Compare</v-btn>
        </v-toolbar>

        <!--loading screen-->
        <v-dialog v-model="isLoading" value="true" max-width="500">
          <v-card flat style="background-color: dark gray">
            <v-card-text>
              LOADING
              <v-progress-linear height="10" :indeterminate="true"></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>

        <!-- pop up -->
        <v-dialog v-model="dialog" max-width="1500">
          <v-card>
            <v-card-actions>
              <v-card-title
                id="heading"
                class="headline"
              >{{this.modalName + "/" + this.modalTicker}}</v-card-title>
              <v-spacer></v-spacer>
              <v-btn flat icon @click="dialog = false">X</v-btn>
            </v-card-actions>

            <v-container fluid grid-list-md>
              <v-layout row wrap>
                <v-flex d-flex xs12 md6>
                  <v-card color="#343E57">
                    <Chart />
                  </v-card>
                </v-flex>

                <v-flex d-flex xs12 md6>
                  <v-layout row wrap>
                    <v-flex d-flex xs12>
                      <v-card color="secondary">

                        <span id="donuts">
                          <v-card-text>
                            <h3>{{this.yesterday}} Twitter Score: {{this.modalTwitterScore}}</h3>
                          </v-card-text>
                          <v-card-text class="headline">Weekly Twitter Sentiment</v-card-text>
                          <TwitterDonut />
                        </span>
                        <span id="donuts">
                          <v-card-text>
                            <h3>{{this.yesterday}} News Score: {{this.modalNewsScore}}</h3>
                          </v-card-text>
                          <v-card-text class="headline">Weekly News Sentiment</v-card-text>
                          <NewsDonut />
                        </span>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-dialog>


        <!-- compare dialog box -->

        <v-dialog v-model="compareDialog" max-width="1500">
          <v-card>
            <v-card-actions>
              <v-card-text class="headline">
                  {{this.modalName + "/" + this.modalTicker}}
                  </v-card-text>
              <v-card-text class="headline">
                  {{this.modalName2 + "/" + this.modalTicker2}}
                  </v-card-text>
              <v-spacer></v-spacer>
              <v-btn flat icon @click="compareDialog = false">X</v-btn>
            </v-card-actions>

            <v-container fluid grid-list-md>
              <v-layout row wrap>
                <v-flex d-flex xs12 md6>
                  <v-card color="#343E57">
                    <Chart />
                  </v-card>
                </v-flex>

                <v-flex d-flex xs12 md6>
                  <v-card color="#343E57">
                    <Chart2 />
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>

            <v-container fluid grid-list-md>
              <v-layout row wrap>
                
                <v-flex d-flex xs12 md6>
                  <v-layout row wrap>
                    <v-flex d-flex xs12>
                      <v-card color="secondary">

                        <span id="donuts">
                          <v-card-text>
                            <h3>{{this.yesterday}} Twitter Score: {{this.modalTwitterScore}}</h3>
                          </v-card-text>
                          <v-card-text class="headline">Weekly Twitter Sentiment</v-card-text>
                          <TwitterDonut />
                        </span>
                        <span id="donuts">
                          <v-card-text>
                            <h3>{{this.yesterday}} News Score: {{this.modalNewsScore}}</h3>
                          </v-card-text>
                          <v-card-text class="headline">Weekly News Sentiment</v-card-text>
                          <NewsDonut />
                        </span>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex d-flex xs12 md6>
                  <v-layout row wrap>
                    <v-flex d-flex xs12>
                      <v-card color="secondary">

                        <span id="donuts">
                          <v-card-text>
                            <h3>{{this.yesterday}} Twitter Score: {{this.modalTwitterScore2}}</h3>
                          </v-card-text>
                          <v-card-text class="headline">Weekly Twitter Sentiment</v-card-text>
                          <TwitterDonut2 />
                        </span>
                        <span id="donuts">
                          <v-card-text>
                            <h3>{{this.yesterday}} News Score: {{this.modalNewsScore2}}</h3>
                          </v-card-text>
                          <v-card-text class="headline">Weekly News Sentiment</v-card-text>
                          <NewsDonut2 />
                        </span>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-dialog>




      </v-layout>

      <v-flex style="height:85vh; vertical-align: top;">
        <v-data-table
          item-key="ticker"
          hide-actions
          :headers="headers"
          :items="listData"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <tr @click="showModal(props.item)">
              <td class="text-xs-left">{{ props.item.company_ticker }}</td>
              <td class="text-xs-left">{{ props.item.company_name }}</td>
              <td class="text-xs-left">${{ props.item.stock_price }}</td>
              <td class="text-xs-left">
                <i v-if="props.item.stock_trend < 0" class="fas fa-caret-down" style="color: red;"></i>
                <i v-else-if="props.item.stock_trend > 0" class="fas fa-caret-up" style="color: lime;"></i>
                {{ props.item.stock_trend }}%
              </td>
              <td class="text-xs-left">
                <img v-if="props.item.twitter == 'positive'" src="../assets/pos.png" style="width:22px;">
                <img v-else-if="props.item.twitter == 'neutral'" src="../assets/neut.png" style="width:22px;">
                <img v-else src="../assets/neg.png" style="width:22px;">
               </td>
               <td class="text-xs-left">
                <img v-if="props.item.news == 'positive'" src="../assets/pos.png" style="width:22px;">
                <img v-else-if="props.item.news == 'neutral'" src="../assets/neut.png" style="width:22px;">
                <img v-else-if="props.item.news == 'negative'" src="../assets/neg.png" style="width:22px;">
                <span v-else>{{ props.item.news }}</span>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-flex>
    </v-app>
  </div>
</template>

<script>
import Chart from "./Chart.vue";
import Chart2 from "./Chart2.vue";
import TwitterDonut from "./TwitterDonut.vue";
import TwitterDonut2 from "./TwitterDonut2.vue";
import NewsDonut from "./NewsDonut.vue";
import NewsDonut2 from "./NewsDonut2.vue";
import { EventBus } from "./event-bus.js";

function getDay(day) {
  var parts = day.split("-");
  return new Date(parts[0], parts[1] - 1, parts[2]);
}

function getStockArray(stock_data) {
  var stockArr = [];
  for (var i = stock_data.length - 1; i >= 0; i--) {
    var day = getDay(stock_data[i].date);
    var price = Math.round(100 * stock_data[i].close) / 100;
    stockArr.push([day, price]);
    if (day.getDay() == 5 && i != 0) {
      var saturday = new Date(day);
      var sunday = new Date(day);
      saturday = new Date(saturday.setDate(saturday.getDate() + 1));
      sunday = new Date(sunday.setDate(sunday.getDate() + 2));
      stockArr.push([saturday, price]);
      stockArr.push([sunday, price]);
    }
  }
  return stockArr;
}

function getDailyTwitterArray(twitter_data, stockArr) {
  var dailyTwitterArr = [[], [], [], []];
  stockArr = stockArr.reverse();
  for (var i = twitter_data.length - 1; i >= 0; i--) {
    var sentiment = twitter_data[i].sentiment[0][1];
    if (sentiment === "positive") {
      dailyTwitterArr[0].push(stockArr[i]);
    } else if (sentiment === "neutral") {
      dailyTwitterArr[1].push(stockArr[i]);
    } else if (sentiment === "negative") {
      dailyTwitterArr[2].push(stockArr[i]);
    } else {
      dailyTwitterArr[3].push(stockArr[i]);
    }
  }
  return dailyTwitterArr;
}

function getTwitterDonutArray(twitter_data) {
  var final_arr = [0, 0, 0];
  for (var i = 0; i < twitter_data.length; i++) {
    final_arr[0] += twitter_data[i].sentiment[1][1];
    final_arr[1] += twitter_data[i].sentiment[2][1];
    final_arr[2] += twitter_data[i].sentiment[3][1];
  }
  return final_arr;
}

function getNewsDonutArray(news_data) {
  console.log(news_data);
  var final_arr = [0, 0, 0];
  for (var i = 0; i < news_data.length; i++) {
    final_arr[0] += news_data[i].sentiment[1][1];
    final_arr[1] += news_data[i].sentiment[2][1];
    final_arr[2] += news_data[i].sentiment[3][1];
  }
  return final_arr;
}

export default {
  name: "app",
  components: {
    Chart,
    Chart2,
    TwitterDonut,
    TwitterDonut2,
    NewsDonut,
    NewsDonut2
  },
  methods: {
    showModal(company) {
      this.modalName = company.company_name;
      this.modalTicker = company.company_ticker;
      this.modalTwitterScore = company.twitter;
      this.modalNewsScore = company.news;
      this.modalOverallScore = company.overall;
      this.dialog = true;
      console.log(company);
      axios({
        method: "POST",
        url: `http://db-internship-server.herokuapp.com/data-all-companies`,
        data: { ticker: company.company_ticker }
      }).then(
        response => {
          var stock_data = response.data.app_data[0].company_stocks;
          var twitter_data = response.data.app_data[0].twitter_sentiment;
          var news_data = response.data.app_data[0].media_sentiment;
          console.log(response.data.app_data[0]);

          var stockArr = getStockArray(stock_data);
          var dailyTwitterArr = getDailyTwitterArray(twitter_data, stockArr);
          EventBus.$emit("updateChartEmit", stockArr, dailyTwitterArr);

          var weeklyTwitterArr = getTwitterDonutArray(twitter_data);
          EventBus.$emit("updateTwitterDonutEmit", weeklyTwitterArr);

          var weeklyNewsArr = getNewsDonutArray(news_data);
          EventBus.$emit("updateNewsDonutEmit", weeklyNewsArr);
        },
        error => {
          alert("Sorry, there was an error retrieving the live data");
        }
      );
    },
    showCompare(company1, company2) {
      this.modalName = company1.company_name;
      this.modalTicker = company1.company_ticker;
      this.modalTwitterScore = company1.twitter;
      this.modalNewsScore = company1.news;
      this.modalOverallScore = company1.overall;

      this.modalName2 = company2.company_name;
      this.modalTicker2 = company2.company_ticker;
      this.modalTwitterScore2 = company2.twitter;
      this.modalNewsScore2 = company2.news;
      this.modalOverallScore2 = company2.overall;
      this.compareDialog = true;
      axios({
        method: "POST",
        url: `http://db-internship-server.herokuapp.com/data-all-companies`,
        data: { ticker: company1.company_ticker }
      }).then(
        response => {
          var stock_data = response.data.app_data[0].company_stocks;
          var twitter_data = response.data.app_data[0].twitter_sentiment;
          var news_data = response.data.app_data[0].media_sentiment;
          console.log(response.data.app_data[0]);

          var stockArr = getStockArray(stock_data);
          var dailyTwitterArr = getDailyTwitterArray(twitter_data, stockArr);
          EventBus.$emit("updateChartEmit", stockArr, dailyTwitterArr);

          var weeklyTwitterArr = getTwitterDonutArray(twitter_data);
          EventBus.$emit("updateTwitterDonutEmit", weeklyTwitterArr);

          var weeklyNewsArr = getNewsDonutArray(news_data);
          EventBus.$emit("updateNewsDonutEmit", weeklyNewsArr);
        },
        error => {
          alert("Sorry, there was an error retrieving the live data");
        }
      );
      axios({
        method: "POST",
        url: `http://db-internship-server.herokuapp.com/data-all-companies`,
        data: { ticker: company2.company_ticker }
      }).then(
        response => {
          var stock_data2 = response.data.app_data[0].company_stocks;
          var twitter_data2 = response.data.app_data[0].twitter_sentiment;
          var news_data2 = response.data.app_data[0].media_sentiment;
          console.log(response.data.app_data[0]);

          var stockArr2 = getStockArray(stock_data2);
          var dailyTwitterArr2 = getDailyTwitterArray(twitter_data2, stockArr2);
          EventBus.$emit("updateChartEmit2", stockArr2, dailyTwitterArr2);

          var weeklyTwitterArr2 = getTwitterDonutArray(twitter_data2);
          EventBus.$emit("updateTwitterDonutEmit2", weeklyTwitterArr2);

          var weeklyNewsArr2 = getNewsDonutArray(news_data2);
          EventBus.$emit("updateNewsDonutEmit2", weeklyNewsArr2);
        },
        error => {
          alert("Sorry, there was an error retrieving the live data");
        }
      );
    }
  },
  data() {
    return {
      dialog: false,
      modalName: "name",
      modalTicker: "ticker",
      modalTwitterScore: "",
      modalNewsScore: "",
      modalOverallScore: "",
      compareDialog: false,
      modalName2: "name",
      modalTicker2: "ticker",
      modalTwitterScore2: "",
      modalNewsScore2: "",
      modalOverallScore2: "",
      isLoading: true,
      selected1: {},
      selected2: {},
      yesterday: '',
      headers: [],
      compare1: [],
      compare2: [],
      listData: [],
      listData2: [] 
    };
  },

  mounted() {
    axios({
      method: "GET",
      url: "https://db-internship-server.herokuapp.com/data-all-companies"
    }).then(
      response => {
        var i;
        var compare = [];
        for(i=0; i<response.data.app_data.length; i++) {
          compare[i] = response.data.app_data[i].company_ticker;
        }

        compare.sort();
        this.compare1 = compare;
        this.compare2 = compare;

        // credit to w3resource for the curday function
        function curDay(){
          var today = new Date();
          today = new Date(today.getTime());
          today.setDate(today.getDate() - 1);
          var dd = today.getDate();
          var mm = today.getMonth()+1; //As January is 0.
          var yyyy = today.getFullYear();

          if(dd<10) dd='0'+dd;
          if(mm<10) mm='0'+mm;
          return (yyyy+'-'+mm+'-'+dd);
        };
        console.log(curDay());

        function setYesterday() {
          var d = curDay();
          var arr = d.split("-");
          if(arr[1].charAt(0) == "0") {
            arr[1] = arr[1].substring(1);
          }
          if(arr[2].charAt(0) == "0") {
            arr[2] = arr[2].substring(1);
          }
          return (arr[1] + "/" + arr[2] + "/" + arr[0].substring(2));
        }
        this.yesterday = setYesterday();
        this.headers = [{
          text: "Ticker",
          align: "left",
          value: "ticker",
          sortable: false
        },
        { text: "Company", value: "name", sortable: false },
        { text: "Stock Price", value: "stock", sortable: false },
        { text: "Stock Price Trend", value: "trend", sortable: false },
        { text: this.yesterday + " Twitter Sentiment Score", value: "social", sortable: false },
        { text: this.yesterday + " News Sentiment Score", value: "news", sortable: false }]

        for(i=0; i < response.data.app_data.length; i++) {
          if(typeof response.data.app_data[i].media_sentiment[0] != "undefined" && response.data.app_data[i].media_sentiment[0].date === curDay()) { 
            this.listData.push({company_name: response.data.app_data[i].company_name, company_ticker: response.data.app_data[i].company_ticker, stock_price: Number(response.data.app_data[i].company_stocks[0].close).toFixed(2), stock_trend: Number(response.data.app_data[i].company_stocks[0].change), news: response.data.app_data[i].media_sentiment[0].sentiment[0][1], twitter: response.data.app_data[i].twitter_sentiment[0].sentiment[0][1], overall: "TBD"});
          } else {
            this.listData.push({company_name: response.data.app_data[i].company_name, company_ticker: response.data.app_data[i].company_ticker, stock_price: Number(response.data.app_data[i].company_stocks[0].close).toFixed(2), stock_trend: Number(response.data.app_data[i].company_stocks[0].change), news: "N/A", twitter: response.data.app_data[i].twitter_sentiment[0].sentiment[0][1], overall: "TBD"});
          }
          
        }
        this.listData.sort(function(a,b) {
          if(a.company_ticker < b.company_ticker) {
            return -1;
          }
          if(a.company_ticker > b.company_ticker) {
            return 1;
          }
          return 0;
        });
        console.log(response.data.app_data);
        console.log(this.listData);
        this.listData2 = this.listData;
        this.selected1 = this.listData[0].company_ticker;
        this.selected2 = this.listData2[1].company_ticker;
      },
      error => {
         alert("Sorry, there was an error retrieving the live data");
      }
    );
  },
  watch: {
    listData() {
      this.isLoading = false;
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#chart {
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

#donuts {
  padding-top: 6.5%;
  padding-bottom: 6.5%;
  display: inline-block;
}

h3 {
  line-height: 0;
  font-weight: normal;
}

#inspire > div.v-dialog__content.v-dialog__content--active > div {
  box-shadow: unset;
}
</style>
