<template>
  <div id="chart">
    <apexchart type="line" :options="chartOptions" :series="series" />
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import { EventBus } from "./event-bus.js";

function minDay() {
  var day = new Date();
  day = new Date(day.getFullYear(), day.getMonth(), day.getDate() - 9);
  return day.getTime();
}

function maxDay() {
  var day = new Date();
  day = new Date(day.getFullYear(), day.getMonth(), day.getDate() - 1, 23);
  return day.getTime();
}

export default {
  name: "chart",
  components: {
    apexchart: VueApexCharts
  },
  data: function() {
    return {
      series: [],
      chartOptions: {
        colors: ["#00CB00", "#FFD600", "#F00001", "#FFFFFF", "#FFFFFF"],
        fill: {
          type: "image",
          opacity: 1,
          image: {
            src: [
              "../assets/pos.png",
              "../assets/neut.png",
              "../assets/neg.png"
            ],
            width: 20,
            height: 20
          }
        },
        markers: {
          size: 10,
          hover: {
            size: 10
          }
        },
        tooltip: {
          shared: false,
          intersect: true,
          x: {
            format: "MMMM dd, yyyy"
          },
          y: {
            title: {
              formatter: function(seriesName) {
                return seriesName + "<br/>Stock Price";
              }
            }
          }
        },
        legend: {
          show: false
        },
        title: {
          text: "Twitter Sentiment and Stock Prices",
          style: {
            fontSize: "25px"
          }
        },
        xaxis: {
          type: "datetime",
          labels: {
            datetimeFormatter: {
              month: "MMM 'yy",
              day: "MMM dd"
            }
          },
          min: minDay(),
          max: maxDay()
        },
        theme: {
          mode: "dark"
        },
        grid: {
          padding: {
            right: 25
          }
        }
      }
    };
  },
  created: function() {
    EventBus.$on("updateChartEmit2", this.updateChart);
  },
  methods: {
    updateChart(stockArr, twitterArr) {
      this.series = [
        {
          name: "Positive Sentiment",
          type: "scatter",
          data: twitterArr[0]
        },
        {
          name: "Neutral Sentiment",
          type: "scatter",
          data: twitterArr[1]
        },
        {
          name: "Negative Sentiment",
          type: "scatter",
          data: twitterArr[2]
        },
        {
          name: "No Sentiment Data",
          type: "scatter",
          data: twitterArr[3]
        },
        {
          name: "Stock Price",
          type: "line",
          data: stockArr
        }
      ];
    }
  }
};
</script>
