<template>
  <div id="twitterchart">
    <apexchart type="donut" :options="chartOptions" :series="series" />
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import { EventBus } from "./event-bus.js";

export default {
  name: "twitterchart",
  components: {
    apexchart: VueApexCharts
  },
  data: function() {
    return {
      chart: {
        type: "donut"
      },
      series: [0, 0, 0],
      chartOptions: {
        colors: ["#00CB00", "#FFD600", "#F00001"],
        theme: {
          mode: "dark"
        },
        labels: ["Positive", "Neutral", "Negative"],
        legend: {
          position: "bottom"
        },
        plotOptions: {
          pie: {
            donut: {
              size: "60%",
              background: "transparent",
              labels: {
                show: true,
                name: {
                  show: true,
                  fontSize: "22px",
                  color: "#FFFFFF"
                },
                value: {
                  show: true,
                  fontSize: "22px",
                  color: "#FFFFFF"
                },
                total: {
                  show: true
                }
              }
            }
          }
        }
      }
    };
  },
  created: function() {
    EventBus.$on("updateTwitterDonutEmit", this.updateChart);
  },
  methods: {
    updateChart(twitterArr) {
      this.series = twitterArr;
    }
  }
};
</script>
